/* Adds in the google font but atom doesn't recomend using this way  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Margin and padding resets the page when browsers add stuff in */


/* This selects everything on the page, not recomended but it's what the tutorial went with */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    background-color: black;
}


/* This just sets the font styles  - text dec none removes the underlines*/

li,
a,
.btnn,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    /* Puts elements next to one another, not on top */
    justify-content: space-between;
    /* This pushes the left & right items to far edges and adds space between  */
    align-items: center;
    /* Centers everything in the header - horizontally not vertivally */
    padding: 30px 10%;
}

header p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    /* When hover, shows it can be clicked(remember you tried cross hair)*/
}

.nav_links {
    list-style: none;
    /* Removes bullets */
}

.nav_links li {
    /* targets nav links and each item */
    display: inline-block;
    /* puts all the nav links side by side */
    padding: 0px 20px;
}


/* LINK COLOURS ON HOVER */

.nav_links li a {
    /* Need to target the a's so that the transition colour works */
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}


/* BUTTON */

.btnn,
button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    /* Needs to be rgba so we can drop the opactiy */
    border: none;
    /* removes border */
    border-radius: 50px;
    /* makes rounded */
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.btnn:hover,
button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    /* same colour as above but alpha value (last value)makes it darker  */
}

main {
    align-items: center;
    padding: 30px 10%;
}

main .person {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    color: #ecf0f1;
    border: 1px gray solid;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}

main .employeeNS {
    margin: 10px;
    background-image: linear-gradient(to left, #434343 0%, #1a0f1a 100%);
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.employeeInfo {
    display: grid;
    align-items: center;
    padding-left: 10px;
}

.employeePic img {
    width: 150px;
    border-radius: 5px;
}

h3 {
    color: rgb(168, 167, 167);
    margin-left: 20px;
}


/* ///////////////////////////// */

form {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    margin: 30px 20px;
    padding: 30px 99px;
    border-radius: 16px;
}

.formEE {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    text-align: left;
    color: white;
    margin-bottom: 25px;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
    font-family: Sans-serif;
}

.clue {
    margin-left: 0.25rem;
    font-size: 20x;
    color: pink;
}

#number {
    color: black;
}

.form-control input {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 100%;
    background-color: #979797;
    border-radius: 7px;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

select {
    width: 150px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #ababab;
    font-weight: 600;
}

table {
    border: 1px solid green;
    color: white;
    padding: 15px;
    margin: auto;
}

table .tableFooter {
    background-color: lime;
    color: black;
}

th,
td {
    padding: 10px;
}

table,
th,
td {
    border: 1px solid green;
    border-collapse: collapse;
}


/* ///////////////////////////// */

footer {
    margin-top: auto;
    background-color: rgba(0, 136, 169, 1);
    padding: 20px;
    width: 100%;
}

footer p {
    text-align: center;
    background-color: rgba(0, 136, 169, 1);
}